<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactUs</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="nav-header">
            <ul class="list-head">
                <li><a href="./product">Product</a></li>
                <li><a href="./shop">Shop</a></li>
                <li><a href="./contactus">Contact Us </a></li>
            </ul>
        </nav>
     </header>
     <main class="form-data">
        <h1>Book a call</h1>

         <form action="./success" method="POST" class="contact-form">
             <label for="username">Name:</label> <br>
             <input type="text" id="username" name="username" required><br>
             <label for="email">Email:</label> <br>
             <input type="email" id="email" name="email" required><br><br>
             <button type="submit" class="submit">submit</button>
             
         </form> 
     </main>
    
</body>
</html>