<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="nav-header">
            <ul class="list-head">
                <li><a href="./product">Product</a></li>
                <li><a href="/">Shop</a></li>
                <li><a href="./contactus">Contact Us </a></li>
            </ul>
        </nav>
     </header>
    <h1>Page not found  </h1>
    
</body>
</html>